[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
flake8 = "==4.0.1"
flake8-bandit = "==2.1.2"
flake8-black = "==0.2.3"
flake8-eradicate = "==1.2.0"
rope = "==0.22.0"
mypy = "==0.910"

[packages]
PyGithub = "==1.55"

[requires]
python_version = "3.7"
