[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
flake8 = "==3.7.9"
flake8-bandit = "==2.1.2"
flake8-black = "==0.1.0"
flake8-eradicate = "==0.3.0"
rope = "==0.16.0"
mypy = "==0.770"

[packages]
PyGithub = "==1.46"

[requires]
python_version = "3.7"
