[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==23.3.0"
flake8 = "==5.0.4"
flake8-bandit = "==3.0.0"
flake8-black = "==0.3.6"
flake8-eradicate = "==1.4.0"
rope = "==1.9.0"
mypy = "==1.4.0"

[packages]
PyGithub = "==1.59.0"

[requires]
python_version = "3.7"
